@model ProdectFormViewModel
@{
    ViewData["Title"] = "Prdoduct Form";
}

<form method="post" asp-controller="Products" enctype="multipart/form-data">
<div class="card shadow-sm">
        <div class="card-header">
            <h3 class="card-title">@(Model.Id.Equals(0) ? "Add" : "Edit") Products</h3>
        </div>
    <div class="card-body">       
            @if (Model.Id > 0)
            {
                <input type="hidden" asp-for="Id" />
            }
            <!--begin::Image input-->
            <div class="image-input image-input-empty mb-10" data-kt-image-input="true" style="background-image: url(/images/@(string.IsNullOrEmpty(Model.ImageUrl) ? "image-placeholder.jpg" : $"/products/{Model.ImageUrl}"))">
                <!--begin::Image preview wrapper-->
                <div class="image-input-wrapper w-125px h-200px"></div>
                <!--end::Image preview wrapper-->
                <!--begin::Edit button-->
                <label class="btn btn-icon btn-circle btn-color-muted btn-active-color-primary w-25px h-25px bg-body shadow"
                       data-kt-image-input-action="change"
                       data-bs-dismiss="click">
                    <i class="bi bi-pencil-fill fs-7"></i>

                    <!--begin::Inputs-->
                    <input type="file" asp-for="Image" accept=".png, .jpg, .jpeg" />
                    <input type="hidden" name="avatar_remove" />
                    <!--end::Inputs-->
                </label>
                <!--end::Edit button-->
                <!--begin::Cancel button-->
                <span class="btn btn-icon btn-circle btn-color-muted btn-active-color-primary w-25px h-25px bg-body shadow"
                      data-kt-image-input-action="cancel"
                      data-bs-dismiss="click">
                    <i class="bi bi-x fs-2"></i>
                </span>
                <!--end::Cancel button-->
                <!--begin::Remove button-->
                <span class="btn btn-icon btn-circle btn-color-muted btn-active-color-primary w-25px h-25px bg-body shadow"
                      data-kt-image-input-action="remove"
                      data-bs-dismiss="click">
                    <i class="bi bi-x fs-2"></i>
                </span>
                <!--end::Remove button-->
            </div>
            <div class="form-text mb-10">Allowed file Type : jpg, jpag, png and maxSize can't be more than 2Mb !</div>
            <span asp-validation-for="Image" class="text-danger d-block"></span>
            <!--end::Image input-->
            <div class="row">
                <div class="col-md-5">
                    <div class="row">
                        <div class="col">
                            <div class="mb-5">
                                <div class="form-floating mb-2">
                                    <input type="text" class="form-control" placeholder="Title" asp-for="Name" />
                                    <label asp-for="Name"></label>
                                </div>
                                <span asp-validation-for="Name" class="text-danger d-block"></span>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col">
                            <div class="mb-5">
                                <div class="form-floating mb-2">
                                    <select class="form-select js-select2" asp-for="CategoryId" asp-items="@Model.Categories">
                                        <option value="">Select Category</option>
                                    </select>
                                    <label asp-for="CategoryId"></label>
                                </div>
                                <span asp-validation-for="CategoryId" class="text-danger d-block"></span>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col">
                            <div class="mb-5">
                                <div class="form-floating mb-2">
                                    <input type="text" class="form-control" placeholder="Price" asp-for="Price" />
                                    <label asp-for="Price"></label>
                                </div>
                                <span asp-validation-for="Price" class="text-danger d-block"></span>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col">
                            <div class="mb-5">
                                <div class="form-floating mb-2">
                                    <input type="text" class="form-control" placeholder="Lower Price" asp-for="LowerPrice" />
                                    <label asp-for="LowerPrice"></label>
                                </div>
                                <span asp-validation-for="LowerPrice" class="text-danger d-block"></span>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col">
                            <div class="mb-5">
                                <div class="form-floating mb-2">
                                    <input type="text" class="form-control js-datepicker" placeholder="Publishing Date" asp-for="PublishingDate" />
                                    <label asp-for="PublishingDate"></label>
                                </div>
                                <span asp-validation-for="PublishingDate" class="text-danger d-block"></span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-7">
                    <div class="mb-5">
                        <div class="form-floating mb-2">
                            <textarea class="form-control js-tinymce" placeholder="Description" asp-for="Description"></textarea>
                            <label asp-for="Description"></label>
                        </div>
                        <span asp-validation-for="Description" class="text-danger d-block"></span>
                    </div>
                </div>
            </div>
            <button type="submit" class="btn btn-primary btn-sm">
                <i class="bi bi-check2"></i>
                Save
            </button>
            <a class="btn btn-secondary btn-sm" asp-action="Index">Cancel</a>
    </div>
</div>
</form>
@section Scripts
{
    <script src="~/assets/plugins/tinymce/tinymce.bundle.js"></script>
    <partial name="_ValidationScriptsPartial" />
}